<!DOCTYPE html>
<html>
<head>
  <style>
    .hostsDataContainer {
      display: flex;
      flex-direction: column;
    }

    .hostData {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 4em;
    }

    .hostDataIcon {
      margin-right: 1em;
      font-size: 25px;
    }

    .hostDataField {
      display: flex;
      flex-direction: row;
      line-height: 1px;
    }
  </style>
</head>
<body>
  
  <div class="hostsDataContainer">
    <% hosts.forEach((host) => { %>
      <div class="hostData">
        <div class="hostDataIcon">
          💻 
        </div>
        <div class="hostDataInfo">
          <div class="hostDataField">
            <p class="hostDataFieldLabel">Mac Address: </p>
            <p class="hostDataFieldValue"><%= host.mac %></p>
          </div>
          <div class="hostDataField">
            <p class="hostDataFieldLabel">Name: </p>
            <p class="hostDataFieldValue"><%= host.name %></p>
          </div>
          <div class="hostDataField">
            <p class="hostDataFieldLabel">IP: </p>
            <p class="hostDataFieldValue"><%= host.ip %></p>
          </div>
          <div class="hostDataField">
            <p class="hostDataFieldLabel">Last report: </p>
            <p class="hostDataFieldValue"><%= host.last_report %></p>
          </div>
          <div class="hostDataField">
            <p class="hostDataFieldLabel">OS ID: </p>
            <p class="hostDataFieldValue"><%= host.operatingsystem_name %></p>
          </div>
          <div class="hostDataField">
            <p class="hostDataFieldLabel">Organization: </p>
            <p class="hostDataFieldValue"><%= host.organization_name %></p>
          </div>
          <div class="hostDataField">
            <p class="hostDataFieldLabel">Location Name: </p>
            <p class="hostDataFieldValue"><%= host.location_name %></p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

</body>
</html>
